body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ag-header-cell-label {
  justify-content: center;
}

/* Grid Menu */
#grid-options {
  margin-top: 110px;
  padding: 10px 50px;
  display: flex;
  justify-content: left;
}

#grid-options button {
  margin: 0px 10px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#new-item-btn{
  background-color: #3030c7;
  color: white;
  border: none;
}

#add-new-item-menu {
  display: flex;
  justify-content: center;
}

#add-new-item-menu > * {
  margin: 0px 15px;
}

#add-new-item-menu > input {
  font-size: 1.1rem;
  padding: 5px;
}

#confirm-new-item-btn {
  font-size: 1.0rem;
  color: white;
  background-color: #15a015;
  border: none;
  border-radius: 10px;
}

#cancel-new-item-btn {
  font-size: 1.0rem;
  color: white;
  background-color: #ec1a1a;
  border: none;
  border-radius: 10px;
}